#map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.slider { width: 500px; float:right; }
.datetime { float:left; }
.datetime p { margin: 0; margin-right: 10px; padding: 0;}